node_modules
*.log

# ignore css files, we store only LESS in the repo
public/stylesheets/*.css

# ignore database connection settings
config/database.js
config/auth.js


# ignore IDE stuff
.settings
.idea