<% include error_header %>
<div class="error-page">
    <div class="container error__container">
        <div class="error__body">
            <div class="error__num">
                404
            </div>
            <div class="error__description">
                <div class="error__title">
                    Sorry, page not found.
                </div>
                <div class="error__text">
                    Looks like the page you’re looking for was moved or never existed.
                    Make sure you typed the corect URL or followed a valid link.
                </div>
                <a class="goToHomepage" href="/">Go to Homepage</a>
            </div>
        </div>
    </div>
</div>
<% include error_footer %>