<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>


Here are some pages to demonstrate features:

<ul>

<li><a href='/about'>Static page - About us</a></li>
<li><a href='/devicehive-in-azure-marketplace'>Landing page - Azure</a></li>
<li><a href='/docs/sample-doc.md'>Sample document in Markdown</a></li>

</ul>
