<div><strong>Admin Console:</strong> <%= admin %></div>
<div><strong>API Console:</strong> <%= swagger %></div>
<div><strong>API URL:</strong> <%= api %></div>
<div><strong>Access Key:</strong> <%= accessKey %></div>