.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #020f18;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.hide {
    display: none;
}

.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -moz-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}

.fade.in {
    opacity: 1;
}

.modal {
    position: fixed;
    box-sizing: border-box;
    top: 10%;
    left: 50%;
    z-index: 1050;
    min-width: 100px;
    outline: none;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transform: translate(-50%, 0);
    -moz-transform:  translate(-50%, 0);
    -ms-transform:  translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform:  translate(-50%, 0);
}

.modal.fade {
    top: -10000px;
    -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
    -o-transition: opacity 0.3s linear, top 0.3s ease-out;
    transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
    top: 10%;
}

.close-modal-button {
    width: 48px;
    height: 56px;
    font-size: 56px;
    position: absolute;
    top: -29px;
    right: -24px;
    background-size: contain;
    cursor: pointer;
}
.close-modal-button span {
    color: #2852a9;
    position: relative;
}
.close-modal-button:hover span {
    color: #416dc9;
}

.close-modal-button i {
    font-size: 32px;
    line-height: 56px;
}

span[class^='i-f-'],
span[class*='i-f-'] {
    position: relative;
}

span[class^='i-f-'] i[class^='i-f-'],
span[class*='i-f-'] i[class^='i-f-'],
span[class*='i-f-'] i[class*='fa-'] {
    position: absolute;
    color: #fff;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.login-social .icon {
    font-size: 84px;
}

.login-social .icon i {
    font-size: 32px;
    line-height: 84px;
}

.icon.google-bg{color: #dd4b39;}
.icon.github-bg{color: #9cdaf0;}
.icon.facebook-bg{color: #3b5998;}
.icon.email-bg{color: #e47c01;}
.icon.linkedin-bg{color: #0077b5;}
.icon.twitter-bg{color: #55acee;}

.button-container {
    margin-top: 20px;
}
.modal-input {
    border: 1px solid #d1d1d1;
    color: #333;
    width: 100%;
    min-width: 210px;
    margin-bottom: 20px;
}

.sign-up-modal,
.login-modal {
    color: #666;
    text-align: center;
    margin: 0;
    font: 400 20px/30px 'Open Sans', Arial, Helvetica, sans-serif;
    min-width: 210px;
}

.sign-up-modal h2,
.login-modal h2{
    margin: 0;
    color: #333;
}

.login-modal input,
.sign-modal input {
    width: 100%;
    min-width: 210px;
}

.sign-up-modal {
    width: 750px;
    height: 554px;
    background: transparent url("../img/modal-bg.png") left top no-repeat;
    background-size: contain;
    padding: 109px 135px 95px;
}

.sign-up-modal .modal-content {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 35px 20px 20px;
    text-align: center;
}

.sign-up-modal h2 {
    font: 400 40px/40px 'Open Sans', Arial, Helvetica, sans-serif;
}

.sign-up-modal p {
    margin: 20px 0;
    font: 400 17px/24px 'Open Sans', Arial, Helvetica, sans-serif;
}

.login-modal {
    background-color: #fff;
    background-image:  url("../img/login-top-bg.png"), url("../img/login-bottom-bg.png");
    background-position: top right, bottom left;
    background-repeat: no-repeat, no-repeat;
    width: 100%;
    height: auto;
    min-height: 100%;
}

.login-modal .modal-content {
    margin: 0 auto;
    padding: 150px 0 100px;
    text-align: center;
    width: 100%;
}

.login-modal .modal-container {
    max-width: 480px;
    padding: 0 10px;
    margin: 0 auto;
}

.login-modal h2 {
    font: 300 60px/60px 'Open Sans', Arial, Helvetica, sans-serif;
}
.login-modal h3 {
    font: 400 24px/34px 'Open Sans', Arial, Helvetica, sans-serif;
    color: #000;
}

.login-modal p {
    color: #444;
    margin: 20px 0;
}

.login-modal .comment {
    margin: 20px 0 50px;
}
.login-btn,
.sign-up-btn {
    min-width: 210px;
}

.login-modal .sign-up-btn {
    float: right;
}

.login-modal .login-btn {
    float: left;
}

.login-modal .login-btn + span {
    height: 60px;
    display: inline-block;
    line-height: 60px;
    font-style:italic;
}

.break {
    display: none;
}

@media screen and (max-width: 1650px) {
    .login-modal {
        background-position: top left, bottom right;
    }
}

@media screen and (max-width: 1179px) {
    .login-modal h2 {
        font: 300 56px/56px 'Open Sans', Arial, Helvetica, sans-serif;
    }
}

@media screen and (max-width: 767px) {
    .login-modal h2 {
        font: 300 48px/48px 'Open Sans', Arial, Helvetica, sans-serif;
    }
    .login-comment h2 {
        font: 300 17px/24px 'Open Sans', Arial, Helvetica, sans-serif;
    }
    .break {
        display: block;
    }
}

@media screen and (max-width: 540px) {
    .modal.fade.in {
        top: 0;
    }

    .modal.sign-up-modal {
        width: 100%;
        background: transparent url("../img/modal-bg-mobile.png") center center no-repeat;
        padding: 100px 24px 95px;
    }

    .sign-up-modal .modal-content {
        padding: 35px 10px 20px;
    }

    .modal p {
        margin-bottom: 0;
    }

    .sign-up-modal,
    .login-modal {
        font: 400 16px/24px 'Open Sans', Arial, Helvetica, sans-serif;
    }

    .login-social li {
        margin: 0 5px;
    }

    .login-modal .login-btn + span,
    .login-modal .login-btn,
    .login-modal .sign-up-btn {
        float: none;
    }

    .login-modal .login-btn + span {
        height: auto;
        line-height: 1;
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .sign-up-modal .modal-content {
        padding: 35px 0 20px;
    }

}
