body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.section {
    margin: 1em;
    padding: 1em;
}

.section:first-of-type {
    border-bottom: 1px solid lightgray;
}

.center {
    text-align: center;
}


input {
    margin: 5px;
}