//**
// Project Settings
//**

// Consistent settings

//$br: 5px; // Border-radius
$btn-br: 2px; // Button border-radius
$font-size: 100%; // Global default font size
$padding: 20px; // Padding and margins
$line-height: 40px; // Consistent height for buttons, inputs etc.
$open-sans: "Open Sans", sans-serif;

$white: #fff;
$black: #000;

$main-blue: #133048;
$link-color: #1284e3;

// Responsive breakpoints
/*
 * Breakpoints
 */

$desktop-lg: 1366px;
$desktop: 1300px;
$desktop-medium: 992px;
$tablet: 768px;
$mobile: 480px;
$mobile-narrow: 320px;


// Warm
$danger-color: #fb8a96;
$warning-color: #e44850;



