.svg-icon{
  background-image: url('/img/svg-sprite.svg');
  background-repeat: no-repeat;
}

.svg-admin-console {
  background-position: 0 0;
  width: 210px;
  height: 160px;
}

.svg-api-console {
  background-position: 0 100%;
  width: 210px;
  height: 160px;
}

.svg-close {
  background-position: 84.27518427518427% 78.17589576547232%;
  width: 13px;
  height: 13px;
}

.svg-copy {
  background-position: 77.5% 80%;
  width: 20px;
  height: 20px;
}

.svg-dashboard {
  background-position: 100% 0;
  width: 210px;
  height: 160px;
}

.svg-email {
  background-position: 76.3157894736842% 57.142857142857146%;
  width: 40px;
  height: 40px;
}

.svg-facebook {
  background-position: 86.84210526315789% 57.142857142857146%;
  width: 40px;
  height: 40px;
}

.svg-github {
  background-position: 97.36842105263158% 57.142857142857146%;
  width: 40px;
  height: 40px;
}

.svg-google {
  background-position: 55.26315789473684% 71.42857142857143%;
  width: 40px;
  height: 40px;
}

.svg-google-groups {
  background-position: 65.78947368421052% 85.71428571428571%;
  width: 40px;
  height: 40px;
}

.svg-google-plus {
  background-position: 76.3157894736842% 71.42857142857143%;
  width: 40px;
  height: 40px;
}

.svg-linkedin {
  background-position: 86.84210526315789% 71.42857142857143%;
  width: 40px;
  height: 40px;
}

.svg-logout {
  background-position: 72.5% 80%;
  width: 20px;
  height: 20px;
}

.svg-logout-white {
  background-position: 55.26315789473684% 85.71428571428571%;
  width: 40px;
  height: 40px;
}

.svg-medium {
  background-position: 97.36842105263158% 71.42857142857143%;
  width: 40px;
  height: 40px;
}

.svg-open {
  background-position: 81.08108108108108% 78.17589576547232%;
  width: 13px;
  height: 13px;
}

.svg-slack {
  background-position: 55.26315789473684% 57.142857142857146%;
  width: 40px;
  height: 40px;
}

.svg-twitter {
  background-position: 65.78947368421052% 71.42857142857143%;
  width: 40px;
  height: 40px;
}

.svg-youtube {
  background-position: 65.78947368421052% 57.142857142857146%;
  width: 40px;
  height: 40px;
}


