//**
// Form Elements
//**

label {
  display: block;
  margin-bottom: 5px;
}


form{
  input[type=email],
  input[type=text],
  input[type=phone],
  input[type=password],
  input[type=number],
  input[type=search],
  textarea {
    box-sizing: border-box;
    border-radius: $btn-br;
    height: 40px;
    display: block;
    color: $white;
    outline: none;
    padding: 5px 10px;
    width: 400px;
    font-size: 1em;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
    transition: border .2s ease-in-out,
                box-shadow .2s ease-in-out;

    &:hover{
      border: 1px solid $white;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    }

    &:focus {
      border: 1px solid $white;
      box-shadow: none;
    }

    &[disabled="true"],
    &.disabled{
      background-color: rgba(184, 190, 200, 0.32);
      color: rgba(177, 184, 190, .6);
    }

    &::placeholder{
      color: $white;
      opacity: 0.6;
    }

    &.error {
      box-shadow: inset 0 -2px 0 0px $danger-color;
      border-bottom: transparent;
    }
  }

  input[type="submit"]{
    -webkit-appearance: none;
  }

  textarea {
    height: 130px;
  }

  .form__field {
    margin-bottom: $padding;
    position: relative;
  }

  label.error,
  span.error{
    bottom: 0;
    display: block;
    margin: 0;
    color: $danger-color;
    font-size: 0.750em;
    position: absolute;
    line-height: 1;
    padding-bottom: 2px;
  }
}

